h1 {
	border: 3px solid black;
	background-color: red;
	width: 400px;
	font-size: 48px;
}

.firstPara {
	font-family: "Comic Sans MS", Arial, sans-serif;
	background-color: yellow;
	border-bottom: 5px solid blue;
	color: blue;
}

.secondPara {
	background-color: orange;
}

#thirdPara {
	border: 1px solid red;
	color: red;
	background-color: black;
}

.container {
	position: relative;
}

.topLeft {
	position: absolute;
	top: 0;
	left: 0;
}

.newLine {
	display: block;
}

.front {
	z-index: 1;
}