@font-face {
	font-family: 'Banda-regular';
	src: url(../fonts/regular.ttf);
}

body {
	font-family: 'Banda-regular', sans-serif;
	background: #f3f3f3;
	color: #7e7777;
}

nav {
	position: absolute;
	top: 0px;
	height: 50px;
	width: 100%;
}

header {
	top: 10px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 940px;
}

section {
	padding-bottom: 25px;
}

footer {
	position: absolute;
	top: 720px;
	height: 218px;
	width: 100%;
	background: #3d3d3d url('../images/grey-footer.png');
	clear: all;
}

h1 {
	display: block;
	color: white;
	font-size: 38px;
	padding-top: 7px;
}

h2 {
	display: block;
	color: white;
	font-size: 20px;
	padding-top: 7px;
}

h3 {
	color: black;
	font-size: 32px;
	padding: 20px 0 10px 0;
}

nav ul {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 160px;
}

nav ul li {
	display: inline;
	font-size: 14px;
	padding-right: 10px;
	padding-left: 10px;
}

.footer-box {
	float: left;
	width: 140px;
	margin-top: 30px;
}

.footer-box h2 {
	color: #d8d8d8;
}

.footer-box ul {
	padding: 10px 0 10px 0;
	font-size: 15px;
}

.footer-box li {
	margin: 8px 0 8px 0;
}

#logo {
	width: 139px;
	height: 31px;
	background: url(../images/hootsuite_logo.png) no-repeat;
	display: inline-block;
	position: absolute;
	top: 0px;
	text-indent: -9999px;
}

#blue-plaid {
	position: absolute;
	top: 50px;
	background: url(../images/blue_header.png) repeat-x;
	height: 105px;
	width: 100%;
	border-bottom: 1px dashed #9a9a9a;
}

.vertical-line {
	border-left: 1px solid #b5b5b5;
}

.main-container {
	position: relative;
	top: 156px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 940px;
}

.public-tab {
	position: relative;
	float: left;
	text-indent: -9999px;
	margin: 0 15px 15px 0;
	box-shadow: 1px 1px 3px #5e5e5e;
}

.hover-text {
	background: rgba(64, 64, 64, 0.8);
	position: absolute;
	text-indent: 0px;
	display: none;
	text-shadow: 1px 1px 5px black;
}

.hover-text h4 {
	color: white;
	font-size: 45px;
	padding: 30px 0 20px 20px;

}

.hover-text p {
	color: white;
	font-size: 20px;
	padding: 0 0 0 20px;
}

.public-tab:hover {
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-o-transform: scale(1.02);
	transform: scale(1.02);
}

div .top-1:hover {
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	-o-transform: scale(1.01);
	transform: scale(1.01);
}

.public-tab:hover .hover-text {
	display: block;
}

.top-1 {
	height: 400px;
	width: 400px;
	background: url(../images/tabs/jayz400x400.png) no-repeat;
}

.top-1 .hover-text{
	height: 150px;
	width: 400px;
	top: 250px;
}

.top-2 {
	height: 115px;
	width: 175px;
	background: url(../images/tabs/luongo175x115.png) no-repeat;
}

.top-2 .hover-text{
	height: 80px;
	width: 175px;
	top: 35px;
}

.top-2 h4 {
	font-size: 25px;
	padding: 15px 0 5px 15px;

}

.top-2 p {
	font-size: 15px;
	padding: 0 0 0 15px;
}

.top-3 {
	height: 115px;
	width: 165px;
	background: url(../images/tabs/obama165x115.png) no-repeat;
}

.top-3 .hover-text{
	height: 80px;
	width: 165px;
	top: 35px;
}

.top-3 h4 {
	font-size: 25px;
	padding: 15px 0 5px 15px;

}

.top-3 p {
	font-size: 15px;
	padding: 0 0 0 15px;
}

.top-4 {
	height: 115px;
	width: 155px;
	background: url(../images/tabs/nytimes155x115.png) no-repeat;
	margin-right: 0px;
}

.top-4 .hover-text{
	height: 80px;
	width: 155px;
	top: 35px;
}

.top-4 h4 {
	font-size: 25px;
	padding: 15px 0 5px 15px;

}

.top-4 p {
	font-size: 15px;
	padding: 0 0 0 15px;
}

.mid-1 {
	height: 120px;
	width: 295px;
	background: url(../images/tabs/borat295x120.png) no-repeat;
}

.mid-1 .hover-text{
	height: 80px;
	width: 295px;
	top: 40px;
}

.mid-1 h4 {
	font-size: 25px;
	padding: 15px 0 5px 15px;

}

.mid-1 p {
	font-size: 15px;
	padding: 0 0 0 15px;
}

.mid-2 {
	height: 120px;
	width: 215px;
	background: url(../images/tabs/mashable215x120.png) no-repeat;
	margin-right: 0px;
}

.mid-2 .hover-text{
	height: 80px;
	width: 215px;
	top: 40px;
}

.mid-2 h4 {
	font-size: 25px;
	padding: 15px 0 5px 15px;

}

.mid-2 p {
	font-size: 15px;
	padding: 0 0 0 15px;
}

.bottom-1 {
	height: 135px;
	width: 525px;
	background: url(../images/tabs/rihanna525x135.png) no-repeat;
	margin-right: 0px;
}

.bottom-1 .hover-text{
	height: 80px;
	width: 525px;
	top: 55px;
}

.bottom-1 h4 {
	font-size: 25px;
	padding: 15px 0 5px 15px;

}

.bottom-1 p {
	font-size: 15px;
	padding: 0 0 0 15px;
}

/*
============================
Popup Stlye
============================
*/

.popup-container {
	width: 700px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	top: 10px;
}

#popup-body {
	background: #e1e1e1;
	color: black;
}

#popup-blue-plaid {
	position: absolute;
	top: 50px;
	background: url(../images/blue_header.png) repeat-x;
	height: 30px;
	width: 100%;
}

#left-container {
	margin-top:70px;
	float: left;
	height: 270px;
	width: 320px;
	background-color: #becadb;
	border-radius: 3px;
	padding: 20px 15px 0 15px;
}

#right-container {
	margin-top:70px;
	float: left;
	height: 270px;
	width: 320px;
	background: url('../images/popup-hack.png');
	border-radius: 3px;
	padding: 20px 15px 0 15px;
}

h5 {
	font-size: 28px;
	padding-bottom: 8px;
}

h6 {
	font-size: 18px;
	padding-bottom: 20px;
}

.popup-p {
	padding: 5px 0 65px 0;
}

#login-button {
	margin-left: auto;
	margin-right: auto;
	background-color: #9f9e9e;
	color: white;
	font-size: 24px;
	border-radius: 5px;
	text-align: center;
	height: 50px;
	width: 115px;
	line-height: 50px;
}

a {
	text-decoration: none;
}