p {
	border: 1px solid red;
	display: inline-block;
	margin: 0;
	background-color: yellow;
	position: relative;
}

div {
	border: 1px solid blue;
	height: 500px;
	position: relative;
	top: 20px;
	left: 50px;
	width: 500px;
}

.abs {
	position: absolute;
	top: 10px;
	right: 10px;
}

.front {
	z-index: 2;
}

.back {
	z-index: 1;
}

.front:hover {
	z-index: -1;
}