html {
	font-size: 16px;
}

body {
	font-family: 'Droid Sans', sans-serif;
	font-size: 62.5%;
	background: url(../images/bright_squares.png) repeat;
}

.topBar {
	position: fixed;
	height: 35px;
	width: 100%;
	background-image: linear-gradient(bottom, rgba(83,70,94,0.95) 0%, rgba(193,167,217,0.95) 100%);
	background-image: -o-linear-gradient(bottom, rgba(83,70,94,0.95) 0%, rgba(193,167,217,0.95) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(83,70,94,0.95) 0%, rgba(193,167,217,0.95) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(83,70,94,0.95) 0%, rgba(193,167,217,0.95) 100%);
	background-image: -ms-linear-gradient(bottom, rgba(83,70,94,0.95) 0%, rgba(193,167,217,0.95) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgba(83,70,94,0.95)),
		color-stop(1, rgba(193,167,217,0.95))
	);
	z-index: 10;
}

.mainContainer {
	padding: 60px 0 20px 0;
}

.mainWidth {
	position: relative;
	margin: 0 auto 0 auto;
	width: 940px;	
}

.bottomBar {
	position: relative;
	height: 150px;
	padding: 20px 0 20px 0;
	width: 100%;
	background: url(../images/tweed.png) repeat;
}

.catWindow {
	display: block;
	height: 400px;
	width: 400px;
	background: url(../images/cat_stack.png) no-repeat left top;
	text-indent: -9999px;
}

.catWindow:hover, .catWindow:focus {
	background-position: 0 -400px;
}

.topBar nav {
	height: 35px;
}
.topBar ul {
	float: right;
	color: white;
	font-size: 1.6em;
	padding-top: 9px;
	font-weight: bold;
	letter-spacing: 2px;
}

.topBar li {
	display: inline;
	padding-right: 20px;
	text-shadow: 1px 1px 4px black;
}

.topBar li:last-child {
	padding-right: 0;
}

.logo {
	float: left;
	font-family: 'Press Start 2P', cursive;
	color: white;
	text-shadow: 1px 1px 4px black;
	margin: 10px 0 0 0;
	font-size: 1.5em;
}

.topBar span {
	color: rgb(255, 108, 40);
}

.mainContainer h1 {
	font-family: 'Press Start 2P', cursive;
	color: rgb(255, 108, 40);
	text-shadow: 2px 2px 2px rgba(42, 34, 49, 0.9);
	font-size: 8.5em;
}

.memberPhotos {
	height: 600px;
}

.polaroids {
	height: 240px;
	width: 210px;
	text-indent: -9999px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.9);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.9);
	box-shadow: 0 0 5px rgba(0,0,0,0.9);
	position: absolute;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.yashaPhoto {
	background: url(../images/yasha.png) no-repeat left top;
	-webkit-transform: scale(0.8) rotate(-10deg); 
	-moz-transform: scale(0.8) rotate(-10deg); 
	-o-transform: scale(0.8) rotate(-10deg); 
	transform: scale(0.8) rotate(-10deg);
	top: 15px;
	left: 5px;
}

.marcPhoto {
	background: url(../images/marc.png) no-repeat left top;
	-webkit-transform: scale(0.9) rotate(5deg); 
	-moz-transform: scale(0.9) rotate(5deg); 
	-o-transform: scale(0.9) rotate(5deg); 
	transform: scale(0.9) rotate(5deg);
	top: 25px;
	left: 280px;
}

.polaroids:hover {
	-webkit-transform: scale(1) rotate(0deg); 
	-moz-transform: scale(1) rotate(0deg); 
	-o-transform: scale(1) rotate(0deg); 
	transform: scale(1) rotate(0deg);
}