body {
	font-family: Verdana, Geneva, sans-serif;
}

.topBar {
	position: fixed;
	height: 35px;
	width: 100%;
	background-image: linear-gradient(bottom, #BC85C7 0%, #2D1438 100%);
	background-image: -o-linear-gradient(bottom, #BC85C7 0%, #2D1438 100%);
	background-image: -moz-linear-gradient(bottom, #BC85C7 0%, #2D1438 100%);
	background-image: -webkit-linear-gradient(bottom, #BC85C7 0%, #2D1438 100%);
	background-image: -ms-linear-gradient(bottom, #BC85C7 0%, #2D1438 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #BC85C7),
		color-stop(1, #2D1438)
	);
	z-index: 10;
	box-shadow: 0 2px 2px rgba(39, 0, 37, 0.6200);
}

.mainContainer {
	position: relative;
	margin: 0 auto 0 auto;
	top: 35px;
	height: auto;
	width: 850px;
	border: 1px solid blue;
}

.catWindow {
	display: block;
	height: 400px;
	width: 400px;
	background: url(../images/cat_stack.png) no-repeat left top;
	text-indent: -9999px;
}

.catWindow:hover, .catWindow:focus {
	background-position: 0 -400px;
}

.topBar nav {
	position: relative;
	margin: 0 auto 0 auto;
	height: 35px;
	width: 850px;
}

nav ul {
	float: right;
}

nav ul li {
	display: inline;
	color: white;
	padding-right: 20px;
}

.logo {
	float: left;
	font-family: 'Press Start 2P', cursive;
	color: white;
	text-shadow: 2px 2px 2px black;
	margin: 10px 0 0 0;
}

.logo span {
	color: #ff8246;
}