body {
	font-family: Verdana, Geneva, sans-serif;
}

.topBar {
	position: fixed;
	height: 35px;
	width: 100%;
	background: #68554a;
	z-index: 10;
	box-shadow: 1px 0 1px black;
}

.mainContainer {
	position: relative;
	top: 60px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 850px;
	border: 1px solid blue;
}

.catWindow {
	display: block;
	height: 400px;
	width: 400px;
	background: url(../images/cat_stack.png) no-repeat left top;
	text-indent: -9999px;
}

.catWindow:hover, .catWindow:focus {
	background-position: 0 -400px;
}

.topBar nav {
	position: relative;
	margin: 0 auto 0 auto;
	height: 35px;
	width: 850px;
}

nav ul {
	float: right;
}

nav ul li {
	display: inline;
	color: white;
	padding-right: 20px;
}

.logo {
	float: left;
	font-family: 'Press Start 2P', cursive;
	color: white;
	text-shadow: 2px 2px 2px black;
	margin: 10px 0 0 0;
}